@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
    margin: 5px;
}
body {
    background-color: rgb(255, 255, 255);
    background-size: cover;
}
p{
    color: #000000;
    text-align: center;
    padding: 10px;
    min-width: 350px;
    border: solid 2px #F0BFCE;
    border-bottom-style: solid;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: 2px;
    border-top-width: 5px;
    border-left-style: solid;

}
.happy {
    margin: 5px;
    font-size: 2em;
   background-color: rgb(255, 255, 255);
   text-align: center;


}

img {
    width: 100px;
    height: 00px;
    border-radius: 50%;
    border: 0px solid;
    text-align: center;
    
}

#imgkk {
    width: auto;
    height: auto;
}
  
div.a {
    text-align: center;
}


#love {
    text-decoration: line-through;
    background-color: rgb(255, 248, 237);
}

#UPtoYou {
    background-color: #F0BFCE;
}

span {
    color: rgb(155, 17, 17);
}

a:link {
    color: aquamarine
}
a:visited {
    color: salmon;
    font-style: italic;
}
a:hover {
    color: aliceblue;
    font-size: x-large;
}

a:active {
    font-weight: bolder;
    color: thistle;
}

/*กำหนดสีในtag*/